.App{
    display: flex;
}
.App>div{
   
    margin: 50px;
}
.App>div:nth-child(1){
    border: 1px solid grey;
    padding: 40px;
    text-align: center;
}
.App>div>button{
   
    text-align: center;
    margin: 10px ;
    padding: 5px;
}